body
{
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(234,249,249,0.67) 0.1%, rgba(239,249,251,0.63) 90.1% );
}

#containerMain, #containerCalculations, #containerActions
{
  margin-bottom:20px;
  padding:10px;
}

.btn
{
  font-weight:bold;
  
}
.label
{
 text-align:center;
}


header
{
text-align: center;
}



h2{
text-align: center;


   font-family: 'Permanent Marker', cursive;

   font-size:3rem;
  
  border-radius:10px;
  box-shadow: -5px 5px 0px rgba(72,22,22,.15);

 background:rgba(255,255,255,.8);
 color: #00c597;
 text-shadow: -2px 2px 0px #364b44;
 text-shadow: -4px 4px 0px #132a11;

}

h3{
  color: lightgreen;
  text-shadow: -2px 2px 0px rgb(50,50,50);
   font-family: 'Permanent Marker', cursive;
  font-size:2rem;


}


#containerCalculations
{
  background:rgba(255,255,255,.75)

}

#containerActions
{
  background:rgba(255,255,255,.75)
}

.content
{
  border-radius:10px;
  box-shadow: -5px 5px 0px rgba(72,22,22,.15);
  border: 1px solid rgba(200,200,200,0.8);

}



#gMap
{height:400px;
margin-bottom:50px;}

/* JSON syntax highlighting - Credit user123444555621 https://stackoverflow.com/a/7220510 */
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
h1{

  color: #ffe746;
   font-family: 'Permanent Marker', cursive;
  font-weight: 500;
font-size:6rem;
  
  text-shadow: -2px 2px 0px #4e1616, 
              -4px 4px 0px #fe8d46, 
              -6px 6px 0px #fc5c45, 
              -8px 8px 0px #b03d30, 
              -12px 12px 0px rgba(72,22,22,.15);
}
/* MAPS */
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }
      
      #infowindow-content .title {
        font-weight: bold;
      }
      
      #infowindow-content {
        display: none;
      }
      
      #map #infowindow-content {
        display: inline;
      }
      
      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: Roboto;
      }
      
      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }
      
      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }
      
      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
      
      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }
      
      #pac-input:focus {
        border-color: #4d90fe;
      }
      
      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      